body, html{
    padding: 0;
    margin: 0;
}
.jumbotron {
    margin-bottom: 0;
    background-color: rgb(23, 26, 33);
    color: rgb(198, 212, 223);
}
.navbar {
    background-color: rgb(23, 26, 33);
}
.navbar-brand {
    margin: 0 !important;
    padding: 0;
}
.navbar-brand img {
    height: 100%;
}
#contenido {
    background: linear-gradient(to bottom left, #005e8a 0%, #1b2838 80%); 
}
#publicidad {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(198, 212, 223);
    background-image: url("../img/publi_ver.png");
    background-size: 100% 100%;
}
.noticia {
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 7px 7px #001a33;
    color: rgb(198, 212, 223);
}
.noticia a {
    color: rgb(198, 212, 223);
}
.noticia a:hover {
    color: rgb(198, 212, 223);
}
.capsule {
    float: left;
    margin-right: 5px;
    width: 130px;
    min-height: 47px;
}
.headline {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 50px;
    padding: 3px;
    line-height: 20px;
}
.title {
    font-size: 21px;
}
.date {
    float: right;
    color: rgb(101, 125, 153);
    font-size: 12px;
}
.body {
    font-size: 16px;
    padding: 15px;
}
.img_big {
    width: 100%;
}
.footer{
    background-color: rgb(23, 26, 33);
    color: rgb(198, 212, 223);
    height: 150px;
    padding: 20px;
}
a:hover, a:focus {
    text-decoration: none;
}
.footer p {
    margin-bottom: 0;
    bottom: 0;
    float: right;
    color: #56707f;
}
ul {
    padding: 0;
    list-style-type: none;
}
#scrollup {
    position: fixed;
    right: 15px;
    top: 88%;
}
@media screen and (min-width: 1060px){
    .jumbotron {
        height: 200px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    nav .container-fluid {
        padding-left: 0;
    }
    #contenido {
        padding: 20px;
    }
    #publicidad, #noticias {
        display: inline-block;
    }
    #publicidad {
        width: 298px;
        height: 600px;
        float: right;
    }
    #publicidad div {
        padding: 10px;
    }
    #noticias {
        padding-left: 10%;
        padding-right: 10%;
        width: calc(100% - 300px);
    }
    .noticia {
        float: left;
        min-width: 480px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    #btnMore {
        margin-left: 37%;
    }
}
@media screen and (min-width: 880px) and (max-width: 1059px){
    .jumbotron {
        height: 200px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    nav .container-fluid {
        padding-left: 0;
    }
    #contenido {
        padding: 20px;
    }
    #publicidad, #noticias {
        display: inline-block;
    }
    #publicidad {
        width: 298px;
        height: 600px;
        float: right;        
    }
    #publicidad div {
        padding: 10px;
    }
    #noticias {
        padding-right: 5%;
        width: calc(100% - 300px);
    }
    .noticia {
        float: left;
        min-width: 480px;
        box-shadow: 5px 7px 7px #001a33;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    #btnMore {
        margin-left: 37%;
    }
}
@media screen and (max-width: 879px){
    #contenido {
        padding: 10px;
    }
    #publicidad {
        height: 90px;
        width: auto;
        float: none;
        margin-bottom: 20px;
        background-image: url("../img/SW1313_logo.png");
    }
    #publicidad div {
        padding: 5px;
    }
    .noticia {
        box-shadow: 2px 4px 4px #001a33;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .capsule {
        min-height: 66px;
    }
    .headline {
        min-height: 67px;
    }
    #btnMore {
        margin-left: 30%;
    }
}